<div class="container">
  <article>
  <div class="row">
		<div class="span6">
			<h2>Sign in to your Library Account</h2>
       <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
       <%= f.label :email %>
       <%= f.email_field :email %>
       <br>
       <%= f.label :password %>
       <%= f.password_field :password %>
       <br>
      <% if devise_mapping.rememberable? %>
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
      <% end %>

     <div><%= f.submit "Sign in", :class => 'button' %></div>
     <% end %>

     <%= render "devise/shared/links" %>
   </div>
    <div class="span6">
      <h2>Welcome to your Digital Library</h2>
       <p>Library Clerk is a Free Applicaiton that allows you to keep track of your Business Library and see who exactly has your assets.As well as keeping track of your library it allows a convienient wayu for your employees to check out a book and then check it back in without the need of manually filling in paperwork.</p>
       <p>On top of all this your employees can set reminders on books that are checked out, and then recieve an email when that book is checked back in, again no need for human intervention. If you feel that this could benefit your organisation then feel free to sign up and start your own digital library.</p>
       <p>
       <a class="m-btn blue" href="#">Read More</a>
      </p>
    </div>
	</div>
  </article>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="row show-grid hero-list">
       <div class="span3">
        <div class="image-wrapper">
         <img src="/assets/ruler.png" alt="">
        </div>
          <h2>Clean Design</h2>
          <p>Modern, clean design to blend in with your business, a highly professional appearance.</p>
        </div>
         <div class="span3">
          <div class="image-wrapper">
           <img src="/assets/equaliser.png" alt="">
          </div>
           <h2>Administrator</h2>
            <p>Be the administrator for your Library and stay in control of your assets</p>
         </div>
          <div class="span3">
           <div class="image-wrapper">
            <img src="/assets/direction.png" alt="">
           </div>
            <h2>Quick Shortcuts</h2>
            <p>Dozens of unique shortcuts to add your own cool and custom flare.</p>
          </div>
           <div class="span3">
            <div class="image-wrapper">
             <img src="/assets/both_arrows.png" alt="">
            </div>
             <h2>Responsive</h2>
             <p>Ultra-responsive design so you can check the status of your library on practically any device.</p>
           </div>
   </div>
  </div>
 </div>
</div>

<div class="container">
  <article>
  <div class="row">
    <div class="span12">
      <h2> Who Uses Us</h2>
      <div class="row">
        <div class="span3">
          <img src="http://placehold.it/200x180">

        </div>

        <div class="span3">
         <img src="http://placehold.it/200x180">
        </div>

        <div class="span3">
         <img src="http://placehold.it/200x180">
        </div>

        <div class="span3">
          <img src="http://placehold.it/200x180">
        </div>


      </div>
    </div>
  </div>
</article>
</div>