<footer>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="span4">
            <h2>Fishplate Studios</h2>
             <address>
              <p><i class="icon-map-marker icon-large"></i>Fishplate Studios</p>
              <p><i>&nbsp;</i>Newport</p>
              <p><i>&nbsp;</i>South Wales</p>
              <p><i class="icon-phone icon-large"></i>01633 777777</p>
              <p><i class="icon-envelope icon-large"></i>fishplatestudios@gmail.com</p>
             </address>
          </div>
           <div class="span4">
            <h2>About Us</h2>
            <p>We love to build things. Making custom applications, Websites or Webapps, whatever you want really. If you can think of it we can build it and thats the mentality that drives us forward..</p>
            <p>So if you need something built for your business then please dont hesitate to get in contact, we are always happy to hear your ideas and excited to build something new.</p>
          </div>
            <div class="span4">
              <h2>Our Work</h2>
               <ul class="footer-navigate">
                <li><i class="icon-chevron-right icon-large"></i><a href="">Coverart Finder</a></li>
                <li><i class="icon-chevron-right icon-large"></i><a href="">Real Recipes</a></li>
                <li><i class="icon-chevron-right icon-large"></i><a href="">Coming Soon</a></li>
                <li><i class="icon-chevron-right icon-large"></i><a href="">Newbridges</a></li>
                <li><i class="icon-chevron-right icon-large"></i><a href="">FitSmart</a></li>
              </ul>

            </div>
        </div>
      </div>
    </div>
  </div>
</footer>