<header>
    <div class="container">
      <div class="row">
        <div class="span4">
          <h3>Library Clerk</h3>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="navbar center">
        <div class="navbar-inner">
          <ul class="nav">
           <li class="active"><%= link_to "Home", root_path %></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Who Uses us</a></li>
            <li><%= create_account %></li>
            <li><%= all_books %></li>
            <li><%= my_books %></li>
            <li><%= add_books %></li>
            <li><%= login_status %></a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>