<div class="container">
	<div class="row">
		<div class="span8 offset2">
			<% if @results.empty? %>
        <h1 class="resultTitle">sorry we can't find anything for that book.</h1>
         <%= link_to "Back To Search", root_path, :class => 'backButton' %>
      <% end %>


			<%= @results.first["trackName"] %> <br>
			 <img src =<%= @results.first["artworkUrl100"] %>> <br>
			  <%= @results.first["artistName"] %> <br>
			   <%= truncate(remove_tags(@results.first["description"]), :length => 250) %> <br>

		</div>
	</div>
</div>

<%= form_for @book do |f| %>
  <%= f.hidden_field :author %>
 
  <%= f.submit 'Save book' %>
<% end %>

