<div class="container">
	<div class="row">
		<div class="span8 offset2">
			<%= form_tag results_path, :method => "get" do %>
			<%= text_field_tag 'search', nil, :placeholder => "Enter ISBN Number here...." %>
			<%= submit_tag 'Search' %>

			<% end %>
			


		</div>
	</div>
</div>
