<div class="container">
  <div class="row">
    <div class="span12">
      <div class="row">
        <div id="left-menu" class="span3">
          <div class="side-nav sidebar-block">
           <h2>Categories</h2>
            <ul>
              <% @bookcategories.each do |b| %>
              <li><%= link_to b.name, category_path(b.name) %></li>
             <% end %>
            </ul>
          </div>
        </div>
        <div class="span9">
          <%= form_tag books_path, :id => 'searchForm', :method => 'get' do  %>
          <%= text_field_tag :search, params[:search], :placeholder => "Enter a Book Name Here...." %>
          <%= submit_tag "Search", :type => :image, :src => '/assets/searchicon.png' %>
          <% end %>
        <div class="row">
          <% @books.each do |b| %>
           <div class= "span3 allBooks">
            <p><%= link_to truncate(b.bookname, :length => 33), b %></p>
            <% if b.image %>
             <img class="allBooksCover" src =<%= b.image %>>
             <% else %>
             <%= image_tag b.avatar.url(:medium), :class=> "allBooksCover" %>
            <% end %>
           </div><!--span3-->
          <% end %>
        </div>
      </div>



      </div>
    </div>
  </div>
</div>

    














