<div class="container">
 <div class="row">
  <div class="span8 offset2 addBook">
   <% if @results.empty? %>
    <h2>Sorry we can't find anything for that book.</h2>
    <h2> You May add the Book Manually</h2>

    <%= form_for @book, :html => {:id => 'addBookManual'} do |f| %>
    <%= f.label :bookname, 'Name of Book' %>
    <%= f.text_field :bookname %><br>
    <%= f.label :author, 'Name of Author' %>
    <%= f.text_field :author %><br>
    <%= f.label :category_id, "Category" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, :prompt => 'Please select a Category') %><br>
    <%= f.label :description, 'Brief Description',:id => 'descrip' %>
    <%= f.text_area :description, :size => "10x5" %><br>
    <%= f.label :avatar, 'Add Image' %>
    <%= f.file_field :avatar %><br>
    <%= f.submit 'Submit', :class => 'button' %>



    <% end %>
   <% else %>
    <%= @results.first["trackName"] %> <br>
    <img src =<%= @results.first["artworkUrl100"] %>> <br>
    <%= @results.first["artistName"] %> <br>
    <%= truncate(remove_tags(@results.first["description"]), :length => 250) %> <br>

    <%= form_for @book do |f| %>
    <%= f.label :category_id, "Category" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, :prompt => 'Please select a Category') %>
    <%= f.hidden_field :author %>
    <%= f.hidden_field :bookname %>
    <%= f.hidden_field :image %>
    <%= f.hidden_field :description %> 
  <%= f.submit 'Save book' %>
 <% end %>
<% end %>
  </div>
 </div>
</div>

