<div class="container">
 <div class="row">
  <div class="span6 offset3">
    <h2>Add Books to your Library Here</h2>
   <%= form_tag results_path, :id => 'addBook', :method => "get" do %>
   <%= text_field_tag 'search', nil, :placeholder => "Enter ISBN Number here...." %>
   <%= submit_tag 'Search', :type => :image, :src => '/assets/searchicon.png' %>
   <% end %>
  </div>
 </div>
</div>