<div class="container">
  <div class="row">
    <div class="span12">
      <div class="row">
        <div id="left-menu" class="span3">
          <div class="side-nav sidebar-block">
           <h2>Categories</h2>
            <ul>
              <% @bookcategories.each do |b| %>
              <li><%= link_to b.name %></li>
             <% end %>
            </ul>
          </div>
        </div>
        <div class="span9">
          <h2><%= @book.bookname %></h2>
          <h5><b>Author</b>:&nbsp;<%= @book.author %></h5>
          <h5><b>Category</b>:&nbsp;<% if @book.category %><%= @book.category.name %><% end %></h5>
          <div class="row team-member">
          <div class="span2 photo">
            <div class="bordered-image">
              <% if @book.image %>
               <img src = <%= @book.image %>>
              <% else %>
               <%= image_tag @book.avatar.url(:medium) %>
              <% end %>
            </div>
          </div>
          <div class="span7">
            <p><%= raw(truncate(@book.description, :length => 1000, :omission => (link_to' (continued)', :id => 'revealMore'))) %></p>
            <% if @book.checked_out && @book.user.name == current_user.name  %>
             <p>You currently have this book</p>
            <% elsif %>
            <% if @book.user %>This book has been checked out by&nbsp;<%= @book.user.name %><% end %>
            <% else %>
             Available for checkout
            <% end %>
            <% if current_user.id == @book.user_id %>
            <%= render 'shared/checkin' %>
            <% elsif @book.checked_out == false %>
            <%= render 'shared/checkout' %>
            <% else %> 
            <%= render 'shared/registerinterest' %>
            <% end %>
          </div>
        </div>
       </div>
      </div><!--/row-->
    </div><!--/span12-->
  </div><!--/row-->
</div><!--/container-->


















