<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Greetings from the Library Clerk, <%= @user.name %></h1>
    <p>
      You recently expressed an interest in , we just wanted to let you know that the book is now back in stock and ready to be checked out
      <br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
 
  </body>
</html>