Welcome to Library Clerk, <%= @user.name %>
===============================================
 
Just though we would let you know that the book you wanted to check out is now back in 

 
To login to the site, just follow this link: <%= @url %>.
 
Thanks for joining and have a great day!
