/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .

*/



/* MISC */

.right {
  float:right;
}

/* FONTS */

@font-face {
    font-family: 'TypoSlabserifLightRegular';
    src: url('TypoSlabserif-Light-webfont.eot');
    src: url('TypoSlabserif-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('TypoSlabserif-Light-webfont.woff') format('woff'),
         url('TypoSlabserif-Light-webfont.ttf') format('truetype'),
         url('TypoSlabserif-Light-webfont.svg#TypoSlabserifLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AcknowledgementMedium';
    src: url('Acknowledgement-webfont.eot');
    src: url('Acknowledgement-webfont.eot?#iefix') format('embedded-opentype'),
         url('Acknowledgement-webfont.woff') format('woff'),
         url('Acknowledgement-webfont.ttf') format('truetype'),
         url('Acknowledgement-webfont.svg#AcknowledgementMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* Header-Navbar */

header {
  border-top: 5px solid #004B8D;
}

article {
 border-top: 1px solid #7ABAF2;
 padding-bottom:10px;
}

footer {
  background:#00305A;
}

/* MIDDLE SECTION HOME PAGE*/



label {
  display:inline-block;
  font-family: 'Open Sans',sans-serif,Arial;
}

.hero-list h2, article h2 {
    color: #004B8D;
}

.hero-list {
    margin-top: 10px;
    padding-bottom: 10px;
}

.hero-list .image-wrapper {
    float: left;
}

.hero-list img {
    padding: 0 11px;
}

.hero-list p {
    line-height: 16px;
    overflow: hidden;
    padding: 0;
}

article img {
  margin:0 auto;
  display:block;
}

/* FOOTER */

footer p {
  color:#F6FCF2;
  font-size:0.9em;
}

footer h2 {
  color:#F6FCF2;
  font-family: 'AcknowledgementMedium';
  border-bottom:2px solid #F6FCF2;
}

.footer-navigate {
    list-style: none outside none;
    margin-left: 0;
    font-size:0.9em;
}

.footer-navigate li {
    padding: 5px 0;
}
.footer-navigate li a {
    color: #F6FCF2;
    padding-left:10px;
}

address p {
    margin-bottom: 5px;
    padding: 0;
}

address p i {
    display: block;
    float: left;
    line-height: 20px;
    width: 30px;
}

/* LIBRARY PAGE */

.sidebar {
    padding-top: 29px;
    width:200px;
}
.side-nav  h2 {
    border-bottom: 3px solid #CCCCCC;
    margin-bottom: 12px;
    padding-bottom: 6px;
}

.side-nav  {
    border-right: 1px solid #CCCCCC;
    padding-right: 19px;
}
.side-nav .active a {
    color: #000000;
}
.sidebar .sidebar-block {
    clear: both;
    margin-bottom: 35px;
    overflow: hidden;
}
.side-nav ul {
    list-style: none outside none;
    margin-left: 0;
}

.side-nav ul li {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 8px;
    overflow: hidden;
    padding-bottom: 8px;
}

.side-nav ul li a {
    background: url("/assets/left_nav_bullets.png") no-repeat scroll 0 8px transparent;
    display: block;
    font-size: 13px;
    padding-left: 9px;
}
.side-nav ul li a:hover {
    color: #333333;
    text-decoration: none;
}

#searchForm, #addBook{
  background:#004B8D;
  text-align:center;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

#searchForm input[type="text"], #addBook input[type="text"] {
  width:80%;
  margin:10px auto;
  padding: 8px 10px;
  
}

#searchForm input[type="image"], #addBook input[type="image"] {
  margin-left:-40px;
}

.allBooks a {
  color:#333333;
  font-family: 'TypoSlabserifLightRegular';
  font-size:1.2em;
}

.allBooks a:hover{
  text-decoration: none;
  color:#004B8D;
}

.allBooksCover {
  width:120px;
  height:150px;
  margin-bottom:10px;
  border:1px solid #CCC;
  padding:5px;
}

/* SHOW BOOK */

.bordered-image {
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    line-height: 20px;
    padding: 3px;
    transition: all 0.2s ease-in-out 0s;
    text-align:center;
}

  .photo {
    margin-bottom: 10px;
}

/* ADD BOOK */

#descrip {
  vertical-align: top;
}

#addBookManual {
  width:50%;
  margin:0 auto;
  margin-top:20px;
}


.addBook h2 {
  text-align:center;
  font-family: 'TypoSlabserifLightRegular';
  font-size:1.5em;
  margin:0 auto;
}