<div class="container">
  <div class="row ">
    <div class="span12">     
      <% @categorisedbooks.each do |c| %>
      <%= image_tag c.avatar.url(:medium), :class=> "allBooksCover" %>
      <% end %>
    </div>
  </div>
</div>