<div class="container">
  <div class="row ">
    <div class="span12">     
      <% @categorisedbooks.each do |c| %>
      <img class="allBooksCover" src =<%= c.image %>>
      <% end %>
    </div>
  </div>
</div>