<div class="container">
  <div class="row">
    <div class="span12">
      <div class="row">
        <div id="left-menu" class="span3">
          <div class="side-nav sidebar-block">
           <h2>Categories</h2>
            <ul>
              <% @mycategories.each do |u| %>
              <li><%= link_to u.name %></li>
             <% end %>
            </ul>
          </div>
        </div>
        <div class="span9">       
         <div class="row">
          <% @book.each do |b| %>
           <div class= "span3 allBooks">
            <p><%= link_to truncate(b.bookname, :length => 33), b %></p>
             <img class="allBooksCover" src =<%= b.image %>>
           </div><!--span3-->
          <% end %>
        </div>
      </div>



      </div>
    </div>
  </div>
</div>



